.portrait {
  max-width: 300px;
  margin: auto;
  @include breakpoint($bp-med) {
    // max-width: 100%; 
    @include gr(large);
    // @include gr(small);
    // float: left;
    // margin: 0 $pad;
    

  }
}

// .wpcf7-form, .map, .contact-details {
//   @include breakpoint($bp-med) {
//     width: 50%;
//     padding: 0 $pad;
//     float: left;
//   }
// }

.home {
  .entry-content {
    text-align: center;
  }
  img {
    // @include gr(large);
    @include breakpoint($bp-med){
      // @include gr(small);
    }
  }
}

// .main-gallery {
//   height: 216px;
// }

// .gallery-cell {
//   height: 100%;
// }

.main-gallery {
  padding-bottom: 61.8%;
  @include breakpoint($bp-small) {
    height: 216px;
    padding-bottom: 0;
  }
}

/* viewport inherit size from carousel */
.main-gallery .flickity-viewport {
  position: absolute;
  width: 100%;
}

/* cell inherit height from carousel */
.gallery-cell {
  height: 100%;
}