.portrait {
  max-width: 300px;
  margin: auto;
  @include breakpoint($bp-med) {
    max-width: 100%; 
    // @include gr(small);
    // float: left;
    // margin: 0 $pad;
    

  }
}

.wpcf7-form, .map, .contact-details {
  @include breakpoint($bp-med) {
    width: 50%;
    padding: 0 $pad;
    float: left;
  }
}

.home .entry-content {
  text-align: center;
}