<nav id="site-navigation" class="main-navigation">
	<ul class="nav-menu">
		<li><a href="{{ link.pages-homepage }}">Home</a></li>
		<li><a href="{{ link.pages-about }}">About Me</a></li>
		<li><a href="{{ link.pages-contact }}">Contact</a></li>
    <li><a href="{{ link.pages-services }}">Services</a></li>
    <li><a href="{{ link.pages-testimonials }}">Testimonials</a></li>
	</ul>
</nav><!--end .nav-->
