.icon-apple:before,
.icon-apple { background-image: url('png/apple.png'); background-repeat: no-repeat; }

.icon-artichoke:before,
.icon-artichoke { background-image: url('png/artichoke.png'); background-repeat: no-repeat; }

.icon-brocoli:before,
.icon-brocoli { background-image: url('png/brocoli.png'); background-repeat: no-repeat; }

.icon-carrot:before,
.icon-carrot { background-image: url('png/carrot.png'); background-repeat: no-repeat; }

.icon-cherry:before,
.icon-cherry { background-image: url('png/cherry.png'); background-repeat: no-repeat; }

.icon-lemon:before,
.icon-lemon { background-image: url('png/lemon.png'); background-repeat: no-repeat; }

.icon-orange:before,
.icon-orange { background-image: url('png/orange.png'); background-repeat: no-repeat; }

.icon-pear:before,
.icon-pear { background-image: url('png/pear.png'); background-repeat: no-repeat; }

.icon-pepper:before,
.icon-pepper { background-image: url('png/pepper.png'); background-repeat: no-repeat; }

.icon-tomato:before,
.icon-tomato { background-image: url('png/tomato.png'); background-repeat: no-repeat; }

