<div class="demo">
	<!--Grid 2up-->
	<div class="g g-2up">
		<div class="gi">1/2</div>
		<div class="gi">1/2</div>
	</div>
</div>

<div class="demo">
  <!--Grid 2Golden-->
  <div class="g g-2up--golden">
    <div class="gi">1</div>
    <div class="gi">0.618</div>
  </div>
</div>

<div class="demo">
  <!--Grid 2Golden-->
  <div class="g g-2up--golden-reverse">
    <div class="gi">0.618</div>
    <div class="gi">1</div>
  </div>
</div>
