.svg .icon-apple:before,
.svg .icon-artichoke:before,
.svg .icon-brocoli:before,
.svg .icon-carrot:before,
.svg .icon-cherry:before,
.svg .icon-lemon:before,
.svg .icon-orange:before,
.svg .icon-pear:before,
.svg .icon-pepper:before,
.svg .icon-tomato:before{
  content:"";
  height:1em;
  width:1em;
  display:inline-block;
  // float:left;
  // margin-left:-1.5em;
  background-position:center;
  background-repeat:no-repeat;
  background-size:100%;
  margin-right: 0.5em;
}


.svg .icon-apple,
.svg .icon-artichoke,
.svg .icon-brocoli,
.svg .icon-carrot,
.svg .icon-cherry,
.svg .icon-lemon,
.svg .icon-orange,
.svg .icon-pear,
.svg .icon-pepper,
.svg .icon-tomato{
  margin-left: 1.5em;
}
