/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.main-navigation {
	clear: both;
	overflow: hidden;
	max-height: 0;
	text-align: center;
	
	li:first-child a{
		// padding-left: 0;
	}

	a {
		display: block;
		padding: $pad;
		border-top: 1px solid $gray-light-2;
		// border-left: 1px solid $gray-light-2;
		// border-right: 1px solid $gray-light-2;
	}

	&.active {
		max-height: 40em;
	}

	a:hover {
		color: white;
		background: $main;
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		// float: left;
		clear: none;

		li {
			// float: left;
			display: inline-block;
		}

		a {
			border: 0;
		}
		
	}
}

.nav-menu {
	margin-left: auto;
	margin-right: auto;
}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}