<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #307f3e;"></span>
		<span class="sg-label">#307f3e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #6c4c1e;"></span>
		<span class="sg-label">#6c4c1e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #15331a;"></span>
		<span class="sg-label">#15331a</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff6600;"></span>
		<span class="sg-label">#ff6600</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #444444;"></span>
		<span class="sg-label">#444444</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">#808080</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>